PlusMinus/.vs/
PlusMinus/Unity.TextMeshPro.csproj
PlusMinus/Unity.TextMeshPro.Editor.csproj
PlusMinus/Unity.CollabProxy.Editor.csproj
PlusMinus/Unity.Analytics.DataPrivacy.csproj
PlusMinus/Assembly-CSharp.csproj
PlusMinus/Library/
PlusMinus/obj/
